.backgroundAbout {
  position: relative;
  margin-top: 20px;
  margin-left: 172px;
  background-size: cover;
}

.backgroundAbout-image {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 515px;
  object-fit: cover;
  border-radius: 30px;
}


.text-line-about {
  font-size: 96px;
  font-weight: 700;
  margin-top: 20%;
  color: white;
}

.custom-text-about {
  margin-left: 600px;
  position: absolute;
  width: 320px;
  height: 148px;
  top: 63%;
  left: 0%;
  font-family: 'Neutral Face', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 46.94px;
  text-align: left;
  padding: 20px;
  border-radius: 30px;
}
