.FeedersPage{
    width: 1100px;
    margin: 0 auto;
}
.Feeders{
    width: 1100px;
    margin: 0 auto;
    display: flex; /* используем флексбокс для выравнивания карточек */
    flex-wrap: wrap; /* разрешаем перенос элементов на новую строку */
    gap: 40px 40px; /* задаем промежуток между карточками */
    margin-bottom: 20px; /* отступ снизу, если нужен */
}

.FeedersName{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
}