.feed-container {
    position: relative;
    width: 330px;
    height: 400px;
    border-radius: 30px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
}

.feed-image-container {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Скрываем изображения, выходящие за пределы */
}

.feed-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обрезаем изображение, сохраняя пропорции */
    border-radius: 30px 30px 0 0; /* Скругляем только верхние углы */
}

.feed-content {
    position: absolute;
    width: 330px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.1);
}

.feed-title {
    color: white;
    weight: 700;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 36px; /* Adjust as needed */
    font-weight: 700;
    margin-top: 10px;
    word-wrap: break-word;
}

.feed-address {
    color: white;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 16px;
    font-weight: 400;
}

.transition-button {
  margin-bottom: 20px;
  height: 40px;
  width: 120px;
  margin-top: 260px;
  margin-left: 190px;
  background-color: #FF9A02; /* Adjust the color to match the image */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px; /* Adjust as needed */
  font-weight: 600;
  font-weight: bold;
  text-transform: uppercase;
  align-self: start;
}