/* header.css */
.header {
  position: absolute;
  top: 15px;
  left: 45px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.logo {
  width: 58px;
  height: auto;
  position: relative;
  left: 500%;
}



.overlay {
  position: absolute;
  top: 44%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-text {
  color: white;
  font-size: 64px;
  font-weight: 700;

}

.overlay-text2 {
  color: white;
  font-size: 75px;
  font-weight: 700;
  position: absolute;
  top: calc(15%); /* Позиционируем текст "КОРМИ" ровно под "СМОТРИ" */
  left: 38%;
  transform: translateX(-50%);
  white-space: nowrap;

}

.button {
  width: 353px;
  background-color: orange;
  color: white;
  padding: 7px 20px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  white-space: nowrap;
  transform: translateX(-10%); /* Сдвигаем кнопку влево на половину ее ширины */
}

.button:hover {
  background-color: #FF9A02; /* Изменяем цвет кнопки при наведении */
}

.custom-text {
  position: absolute;
  width: 320px;
  height: 148px;
  top: 63%;
  left: 18%;
  font-family: 'Neutral Face', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 46.94px;
  text-align: left;
  padding: 20px;
  border-radius: 30px;
}

.text-line {
  margin: 0;
  color: white;
}

.map-info {
  position: absolute;
  width: 345px;
  height: 79px;
  top: 100%;
  left: 15%;
  font-family: 'Unigeo64 Trial', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
}

.map-text {
  margin: 0;
  color: #451B00;
}

/*
.custom-shape {
  clip-path: polygon(0% 0%, 78% 0%, 78% 20.43%, 100% 20.43%, 100% 100%, 0% 100%);
  border-top-right-radius: 30px;
}
*/