.info-card { /* Радиус скругления углов */
  color: white; /* Цвет текста */
  width: 327px; /* Ширина карточки */
  height: 226px; /* Высота карточки */
  transition: background-color 0.6s ease;
}

.info-header {
  padding: 10px;
  margin-left: 15px;
  font-size: 32px; /* Размер шрифта заголовка */
  margin-bottom: 8px; /* Отступ после заголовка */
  font-weight: 600;
}

.info-subtitle {
  font-size: 14px; /* Размер шрифта подзаголовка */
  /* Добавьте другие стили для подзаголовка */
}

.info-link {
  position: absolute; /* Абсолютное позиционирование */
  bottom: 16px; /* Позиция снизу */
  right: 16px; /* Позиция справа */
  color: white; /* Цвет ссылки */
  text-decoration: none; /* Убрать подчёркивание */
  /* Добавьте другие стили для ссылки */
}

