/* Menu.css */
.menu {
  position: absolute;
  top: 20px;
  left: 172px;
  display: flex;
  align-items: center;
  width: px; /* Изменяем ширину меню */
  height: 33px; /* Изменяем высоту меню */
  border-radius: 30px; /* Увеличиваем радиус скругления */
  background-color: #e3e3e3;
  padding: 5px; /* Уменьшаем внутренний отступ */
  z-index: 1;
}

.menu-item {
  padding: 10px 23px; /* Уменьшаем внутренний отступ кнопок */
  border-radius: 20px;
  text-decoration: none;
  color: #451B00;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Unigeo64 Trial', sans-serif;
  transition: background-color 0.3s;
  white-space: nowrap; /* Текст в одну строку */
}

.menu-item:hover {
  background-color: #FF9A02; /* Цвет фона при наведении */
  color: #451B00; /* Изменяем цвет текста при наведении */
}

.email-container {
  position: absolute;
  top: 8%;
  right: 22%;
  transform: translate(50%, -50%);
  padding: 10px;
}

.email-text {
  color: #451B00;
  font-family: Unigeo64 Trial;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
 /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80%, 0% 100%);*/
}
