/* Menu.css */
.menu {
  position: absolute;
  top: 20px;
  left: 795%;
  display: flex;
  align-items: center;
  width: 418px; /* Изменяем ширину меню */
  height: 33px; /* Изменяем высоту меню */
  border-radius: 30px; /* Увеличиваем радиус скругления */
  background-color: #FFFFFF;
  padding: 5px; /* Уменьшаем внутренний отступ */
  z-index: 1;
}

.menu-item {
  padding: 10px 23px; /* Уменьшаем внутренний отступ кнопок */
  border-radius: 15px;
  text-decoration: none;
  color: #451B00;
   font-weight: bold;
  font-size: 14px;
  font-family: 'Unigeo64 Trial', sans-serif;
  transition: background-color 0.3s;
  white-space: nowrap; /* Текст в одну строку */
}

.menu-item:hover {
  background-color: #FF9A02; /* Цвет фона при наведении */
  color: #451B00; /* Изменяем цвет текста при наведении */
}

